@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
html,body{
    height: 100%;
}
#clock{
    color: bisque;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    position: relative;
    top: 50%; 
    margin-top: -35px;
    font-size: 70px;
}